---
layout: default
title: archives
---
<!-- <div class="emailsub">
{% include emailsub.html %}
</div> -->

<!-- <div class="archives-tag-cloud">
  <a href="{{site.url}}/tags">TAG CLOUD</a>
</div>
-->
<div class= "archives-posts-list">
  <table>
    {% for post in site.posts %}
    <tr>
      <td>
	<p class="archives-post-date">
	  {{ post.date|date_to_long_string }}
	</p>
      </td>
      <td>
      	{% for tag in post.tags %}
	<div class="archives-post-tags">{{ tag }}</div>
	{% endfor %}
      </td>
      <td>
	<a class="archives-post-title" href="{{ post.url }}">
	  {{ post.title }}
	</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
