<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="description" content = "{{ site.description}}">
<title> {{ site.name }}</title>
<link rel="stylesheet" href="/css/css-conf.css">
<link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
<link rel="alternate" type="application/rss+xml" title="Journal" href="/rss.xml" />
<link rel="image_src" href="/img/site-avatar.jpg" />
<meta property="og:image" content="http://journalist.github.io/img/site-avatar.jpg" />
<meta property="og:url" content=" {{ post.url }}" />
<meta property="og:title" content=" {{ page.title }}" />
<meta property="og:type" content="website" />
</head>
<body>
<a class="no-underline" href="{{ site.url }}">
<div class="sitetitle">
{{ site.name }} 
</div>
</a>
<div class="container">
